files:
    "/etc/nginx/conf.d/websocketupgrade.conf" :
        mode: "000755"
        owner: root
        group: root
        content: |
             proxy_set_header        Upgrade         $http_upgrade;
             proxy_set_header        Connection      "upgrade";
    "/etc/security/limits.d/custom.conf" :
        mode: "000755"
        owner: root
        group: root
        content: |
            root soft nofile 1000000
            root hard nofile 1000000
            * soft nofile 1000000
            * hard nofile 1000000  

container_commands:
    00-limits:
        command: "/bin/sed -i 's/#@student        -       maxlogins       4/include /root soft nofile 1000000 \nroot hard nofile 1000000 \n* soft nofile 1000000 \n* hard nofile 1000000/g' /etc/security/limits.conf"
    01-worker-connections:
        command: "/bin/sed -i 's/worker_connections  1000000/worker_connections  2048/g' /tmp/deployment/config/#etc#nginx#nginx.conf"
    01-headers:
        command: "/bin/sed -i 's/proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;/proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for; proxy_set_header        Upgrade         $http_upgrade; proxy_set_header        Connection      \"upgrade\";/g' /tmp/deployment/config/#etc#nginx#conf.d#00_elastic_beanstalk_proxy.conf"
